APP_NAME="personajes-cine-api"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8915
LOG_CHANNEL=stack
DB_CONNECTION=sqlite
DB_DATABASE=""
DB_FOREIGN_KEYS=true
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
